.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: var(--background-color-page)
 
}
.searchBar{
  border: 1px solid var(--borderbottom-color-searchbar);
  width: fit-content;
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  height: 2.5rem;
  align-items: center;
  box-shadow: 0 0 0 #0000;
}
.input{
  width: 25vw;
  background-color: transparent;
  font-family: sans-serif;
  border: none;
  color: var(--input-color-text);
  padding: 1px 1rem;
  
}
.input::placeholder{
  color: var(--input-color-placeholder-text);
  font-family: sans-serif;
  font-weight: 300;
}
.input:focus{
  outline: none;
}
.submit{
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  height: 100%;
  font-weight: 700;
  background-color: var(--submit-background-color);
  justify-content: center;
  align-items: center;
  object-fit: fill;

}
.imglogo {
  width: 90px;
  height: 90px;
}
